<div id="containerFrontPage">
  <%= render "form" %>
  <div id="alreadyMember">
    <div id="alreadyMemberText">Don't have an Endtest account? <%= link_to "Sign Up", new_user_path %></div>
  </div>
</div>
