<div class="footer">
  <div class="main-footer">
    <ul>
      <li><a href="">Terms of Service</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Documentation</a></li>
      <li><a href="">Pricing Plans</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="sologan">
      <p>&copy; Copyright by QTV06-2018</p>
    </div>
  </div>
</div>
