<%= render "form" %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Web Test Scripts</th>
      <th>Edit</th>
      <th>Run</th>
      <th>Export</th>
      <th>Duplicate</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
