/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "toastr";

body{
  font-family: arial;
}
.btn-action.col-sm-12.col-md-1{
  float: right;
}
.btn-action.col-sm-12.col-md-1:hover{
  cursor: pointer;
}
.btn-action-drag, .btn-action-drop{
  line-height: 68px;
  margin-left: 48px;
}
.btn-action-drag {
  float:  left;
  margin-right: 10px;
}
.navbar-inverse{
  background-color: #fff;
  border-color: white;
  margin: 0px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.btn-action.col-sm-12.col-md-2 {
    float: right;
    text-align:  center;
}
.active{
  background-color: none;
  border-bottom: 2px solid black;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: blue;
}
.main {
  min-height: 500px;
  padding: 20px 0px;
  margin-top: 52px;
  width: 90%;
  margin: 52px auto;
}
.footer{
  padding: 10px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
a.dropdown-toggle {
  padding: 6px !important;
  margin-right: 10px;
}
a.navbar-brand {
  color: #d81d0f !important;
  font-size: 25px;
  font-weight:  bold;
  font-family: arial;
}
.navbar-header{
  margin-left: 30px;
}
.container-fluid {
  padding: 0px 57px;
}
.active a {
  background: none !important;
  color: #9d9d9d !important;
}
#header-color-line{
  width: 100%;
  height: 3px;
  background-repeat: repeat;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.mg-20{
  margin-top: 20px;
}
.unvalid-input{
  border: 1px solid red;
}
.unvalid-text{
  color: red;
}
.form-control{
  border: 1px solid #4c4c4c !important;
}
.col-md-2 {
  padding: 0px 6px !important;
}
@media (min-width: 992px){
  .col-md-2 {
    width: 12.5% !important;
  }
}
.icon-action{
  width: 80px !important;
  text-align: center;
}
.th-icon{
  text-align: center;
}
