span.icon-folder, span.icon-file {
  background-size: 39px 32px;
  background-repeat:  no-repeat;
  padding: 10px 23px;
  margin-right: 27px;
}
.table-hover tr{
  height: 60px;
}
.table-hover>tbody>tr>td{
  vertical-align: middle !important;
}
.table-hover{
  a{
    color: black;
  }
  a:hover{
    text-decoration: none;
  }
}
span.icon-folder {
  background-image: url("folder");
}
span.icon-file {
  background-image: url("icon-file");
}
.add-folder-img{
  background: red;
  width: 53px;
  height: 49px;
  img{
    width: 50px;
    height: 50px;
  }
}
.btn-action{
  height: 50px;
  width: 100%;
  padding: 0px;
}
.btn-icon {
  float: left;
  background:  none;
  background-repeat:  no-repeat;
  background-size: 28px 31px;
  background-position: center;
  border:  none;
  height: 42px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
  width: 44px;
}
.btn-icon:not(first){
  margin-left: 5px;
}
.btn-save{
  background-image: url("icon-save");
  background-color:  blue;
}
.btn-add{
  background-image: url("icon-add-folder");
  background-color:  #F44336;
}
.btn-back{
  background-image: url("icon-back");
  background-color:  #4CAF50;
}

.btn-share{
  background-image: url("icon-share");
  background-color:  #C0CA33;
}
.btn-notification{
  background-image: url("icon-noti");
  background-color:  #009688;
}
.input-test-suite{
  margin-left: -15px;
}
.label-test-suit{
  height: 34px;
  line-height: 34px;
  font-weight: unset;
  font-size: 17px;
  opacity: 0.8;
  font-weight: 100;
}
.btn-add-step{
  margin-left: 15px;
}
li.item-step {
  list-style: none;
  padding: 5px 5px 0px 20px;
  border-bottom: 1px solid #e4e4e4;
  transition: 0.4s;
}
li.item-step:hover {
  background-color: #f1f1f1;
}
ul.list-step{
  margin-top: 20px;
  margin-left: -38px;
}

ul.item-case-change {
  margin-left: -32px !important;
}
ul.item-case-change li {
  list-style: none;
  line-height: 40px;
  /* background: #e8e8e8; */
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 0px 9px;
  color: #158492;
  /* border: 1px solid rgba(0,0,0,.125); */
  transition: all 0.4s;
  span{
    background-image: url(icon-file.png);
  }
}
ul.item-case-change li:hover{
  box-shadow: 1px 2px 3px rgba(0,0,0,.125);
}
