<%= form_for @test_suit do |f| %>
  <div class="btn-action">
    <%= f.submit "", class: "btn-save btn-icon" %>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4">
      <%= f.label "Test Suit Name" %>
    </div>
    <div class="col-md-4 col-sm-6 input-test-suite">
      <%= f.text_field :name, class: "form-control"%>
    </div>
  </div>
<% end %>
